table.fridge
  tr
    td
    td Nome
    td Scadenza
  each row in rows  
    tr
      td
        a.deleteButton(href='/del/#{row.name}', title="Cancella #{row.name}") x
      td= row.name
      td= reparse(row.expires)
