!!! 5
html
  head
    meta(http-equiv='Content-Type', content='text/html;charset=UTF-8')
    script(type='text/javascript', src='/javascript/jquery-1.8.2.js')
    script(type='text/javascript', src='/javascript/jquery-ui-1.9.0.js')
    script(type="text/javascript", src='/javascript/list.js')
    link(rel='stylesheet', href='/stylesheets/jquery-ui-1.9.0.custom.css')
    link(rel='stylesheet', href='/stylesheets/expiredjs.css')
  body
    h2 Benvenuto in ExpiredJS
    p Questa è la lista con il contenuto del tuo frigorifero.
    button#addButton Aggiungi un item
    #fridge
    #addDialog.hidden
      p Puoi aggiungere un nuovo oggetto.
      form#addForm(action='/add', enctype='multipart/form-data', method='POST')
        .caption Nome
        input#inputName(type='text', name='name')
        .caption Data di scadenza
        input#inputExpires(type='text', name='expires')
        input(type='submit', value='Aggiungi')                
