!!! 5
html
  head
    meta(http-equiv='Content-Type', content='text/html;charset=UTF-8')
    script(type='text/javascript', src='/javascript/jquery-1.8.2.js')
    script(type='text/javascript', src='/javascript/jquery-ui-1.9.0.js')
    script(type="text/javascript", src='/javascript/jquery.form.js')
    script(type="text/javascript", src='/javascript/list.js')
    link(rel='stylesheet', href='/stylesheets/jquery-ui-1.9.0.custom.css')
    link(rel='stylesheet', href='/stylesheets/expiredjs.css')
  body
    h1 Welcome in ExpiredJS
    p This is the content of your fridge.
    button#addButton Add an item

    // The firdge list
    #fridge

    // The add item dialog
    #addDialog.hidden
      p You can add a new item.
      form#addForm(action='/add', enctype='multipart/form-data', method='POST')
        .caption Name
        input#inputName(type='text', name='name')
        .caption Best before
        input#inputExpires(type='text', name='expires')
        .caption Image
        input#inputImage(type='file', name='image')
        input(type='submit', value='Aggiungi')                
