!!! 5
html
  head
    meta(http-equiv='Content-Type', content='text/html;charset=UTF-8')
  body
    h2 Lista
    table
      tr
        td Nome
        td Scadenza
        td X
      each row in rows  
        tr
          td #{row.name}
          td #{dateFormat(new Date(row.expires), "mmmm dS")}
          td
            a(href='/del/?n=#{row.name}') X
    form(action='/add', enctype='multipart/form-data', method='POST')
      input(type='text', name='name')
      input(type='date', name='expires')
      input(type='submit', value='Aggiungi')                
